@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-black-webfont.woff2') format('woff2'),
         url('../fonts/Inter/inter-black-webfont.woff') format('woff'),
         url('../fonts/Inter/inter-black-webfont.ttf') format('truetype'),
         url('../fonts/Inter/inter-black-webfont.svg#interblack') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-bold-webfont.woff2') format('woff2'),
         url('../fonts/Inter/inter-bold-webfont.woff') format('woff'),
         url('../fonts/Inter/inter-bold-webfont.ttf') format('truetype'),
         url('../fonts/Inter/inter-bold-webfont.svg#interbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-medium-webfont.woff2') format('woff2'),
         url('../fonts/Inter/inter-medium-webfont.woff') format('woff'),
         url('../fonts/Inter/inter-medium-webfont.ttf') format('truetype'),
         url('../fonts/Inter/inter-medium-webfont.svg#intermedium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter';
    src: url('../fonts/Inter/inter-regular-webfont.woff2') format('woff2'),
         url('../fonts/Inter/inter-regular-webfont.woff') format('woff'),
         url('../fonts/Inter/inter-regular-webfont.ttf') format('truetype'),
         url('../fonts/Inter/inter-regular-webfont.svg#interregular') format('svg');
    font-weight: 400;
    font-style: normal;
}