* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: inter,sans-serif;
    font-weight:400;
    font-size: 15px;
    color: #545454;;
    letter-spacing: -0.2px;
    background-color: #F7F7F7;;
}

.main {
    padding: 50px 60px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 540px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
}

.card-account__title-holder,
.card-profile__title-holder,
.form__row,
.form__btn {
    margin-bottom: 20px;
}

.form__row {
    position: relative;
}

.card-account__title {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #1C1C1C;
}

.card-profile__title {
    font-size: 24px;
    letter-spacing: -0.4px;
    color: #1C1C1C;
}

.form__label {
    display: block;
    margin-bottom: 7px;
}

.form__input,
.form__select {
    width: 245px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;  
    border-radius: 6px;
    font-size: 16px;
    padding: 0 15px;
}

.form__select:hover,
.form__input:hover {
    box-shadow: 1px 2px 4px #E4E4E4;
}

.form__input:focus,
.form__select:focus {
    outline: 1px solid #007BFF;
}

.form__input_long {
    width: 100%;
    margin-bottom: 7px;
}

.radio__list {
    list-style: none;
    display: flex;
}

.radio__item {
    padding: 0 20px 0 28px;
    position: relative;
}

.radio__input {
    -webkit-appearance: none;
    appearance: none;
    position:absolute;
}

.radio__label {
    cursor: pointer;
}

.radio__label::before {
    content: '';
    display: block;
    width:20px;
    height: 20px;
    background-color: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 0;
}

.radio__label::after {
    content: '';
    display: block;
    width:8px;
    height: 8px;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 6.8px;
}

.radio__input:checked + .radio__label:before {
    background-color: #007BFF;
}

.form__instruction {
    display: block;
    font-size: 13px;
    letter-spacing: 0.1px;
    color: #969696;
}

.btn-instruction {
    display: block;
    text-align: center;
    line-height: 18px;
    max-width: 410px;
    width: 100%;
    margin: 0 auto;
}

.link {
    text-decoration: none;
    color: #007BFF;
}

.link:hover {
    text-decoration: underline;   
}

.form__btn {
    display: block;
    padding: 8px 0;
    background-color: #007BFF;
    border:1px solid #007BFF;
    box-shadow: 2px 2px 4px #E4E4E4;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.1px;
    color: #FFFFFF;
    cursor: pointer;
}

.form__btn:hover {
    box-shadow: 1px 2px 4px #E4E4E4;
    background-color: #006cdf;
    transition: all ease-in 0.1s;
} 

.form__btn_long {
    width: 100%;
}

.form__btn_short {
    max-width: 150px;
    width: 100%;
}

.form__btn_reset {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    cursor: pointer;
}

.form__btn_reset:hover {
    background-color: #f0f0f0;
    box-shadow: 1px 2px 4px #E4E4E4;
}

.userpic.flex-container {
    justify-content: flex-start;
    align-items: center;
}

.userpic__img-holder {
    padding-right: 20px;
}

.userpic__input-holder {
    position: relative;
}

.userpic__input-file {
    position: absolute;
    top: 5px;
    left: -100px;
    opacity: 0;
    cursor: pointer;
}

.userpic__btn-upload {
    width: 138px;
    height: 30px;
    margin: 0 10px 9px 0;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 6px;
    cursor: pointer;
    text-align: right;
    padding-right: 10px;
    position: relative;
}

.userpic__icon {
    position: absolute;
    top: 6px;
    right: 8px;
}

.card-account__footer {
    border-top: 1px solid #E4E4E4;
    padding: 20px 0 10px;
}

.card-account__footer-text {
    display: block;
    max-width: 173px;
    width: 100%;
    margin: 0 auto;
}

.card-account__footer-link {
    font-weight: 700;
}

.form__input-holder {
    position: relative;
}
.form__arrows {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    position: absolute;
    top: 33px;
    right: 5px;  
}

.form__arrows::before {
    content:'';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 6px solid #969696;
    position: absolute;
    top: 2px;
    right: 0;
}

.form__arrows::after {
    content:'';
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 6px solid #969696;
    position: absolute;
    top: 12px;
    right: 0;
}

.form__btn_reset {
    position: relative;
}

.form__btn-pic {
    position: absolute;
    top: 5px;
    right: 5px;
}




